body{
  font-family: Geneva, Verdana, Tahoma, sans-serif;
}

main {
  background-color: #BCBCBF;
  padding: 4px;
  color: #202020;
  grid-area: main;
}

aside {
  grid-area: aside;
}

h1, h2 {
  color: darkblue;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

#portrait {
  border: 1px solid #808080;
  border-radius: 8px;
  padding: 2px;
  margin: 8px;
  width: 50px;
}

.experience {
  border: inset 1px;
  margin-bottom: 4px;
  padding: 4px;
  background-color: white;
  color: #222;
}

.experience .title {
  font-weight: bold;
}

footer {
  text-align: center;
  background-color: #202020;
  color: lightblue;
  padding: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  grid-area: footer;
}

#menu {
  /*float: right;*/
  margin-left: auto;
}

#menu li{
  display: inline;
  padding: 8px;
  background-color: rgb(40, 40, 40);
  color: white;
}

#menu li a{
  color: white;
  text-decoration: none;
}

#menu li.active{
  background-color: darkslateblue;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  grid-area: header;
}

/*
header #portrait, header #siteName, header #menu {
  display: inline;
  vertical-align: middle;
}
*/

.container {
  display: grid;
  grid-template-areas:
    "header header"
    "main aside"
    "footer footer";
  grid-template-columns: auto 200px;
  grid-gap: 8px;
}

#formInfo {
  font-size: 14px;
  font-style: italic;
}
